.error-window {
  &__title {
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
  }
  &__message {
    padding: 10px;
    border-bottom: solid 1px black;
  }
  &__button-group {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  &__button-ok {
    text-transform: uppercase;
  }
}