.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  flex: 1 1 0;
  flex-basis: 0;
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    flex-basis: 0;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__message-wrap {
    display: flex;
    &:first-child {
      margin-top: auto;
    }
    &_my {
      justify-content: flex-end;
      .chat__message {
        align-items: flex-end;
      }
    }
  }
  &__message {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    background: white;
    border-radius: 5px;
    margin-top: 8px;
    max-width: 77%;
  }
  &__input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #d5d5d5;
  }
  &__input-text {
    margin-left: 10px !important;
    margin-right: 10px !important;
    flex-grow: 1;
    .MuiInputBase-root {
      background: white;
      font-size: 14px !important;
    }
  }
  &__send-button {
    margin-right: 10px !important;
  }
}

.chat-message {

  &__user-name {
    font-weight: bold !important;
    font-size: 14px !important;
    word-break: break-word;
  }
  &__content {
    font-size: 14px !important;
    word-break: break-word;
    white-space: pre-wrap;
  }
  &__time {
    font-size: 12px !important;
    color: #888 !important;
  }
}