@import '../../styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary;
  padding: 0 30px;
  height: $header-height;
  &__title {
    font-size: 1.3em;
    color: $white;
  }

  &__rooms-link {
    color: white;
  }
}

.page-wrapper {
  margin: 30px 0;
  width: 100%;
  padding: 0 20px;
}